[submodule "components/espmqtt"]
	path = components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
[submodule "components/components/espmqtt"]
	path = components/components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
[submodule "components/miniz"]
	path = components/miniz
	url = git@github.com:richgel999/miniz.git
