[submodule "main/ota"]
	path = main/ota
	url = https://github.com/FieldTracks/esp32-ota-https.git
[submodule "components/espmqtt"]
	path = components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
