menu "JellingStone configuration"

config ESP_WIFI_SSID
    string "WiFi SSID"
    default "sensors"
    help
	SSID (network name) for the example to connect to.

config ESP_WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
	WiFi password (WPA or WPA2) for the example to use.

config MQTT_URI
    string "URI of mqtt-brokwer"
    default "mqtt://iot.eclipse.org"
    help
        mqtts://username:password@iot.eclipse.org:1884

config MQTT_USER
    string "MQTT Username"
    default "user4711"

config MQTT_PASSWORD
    string "MQTT Password"
    default "verysecret1234"

config BEACON_MAJOR
    int "iBeacon Major"
    default "4055"

config BEACON_MINOR
    int "iBeacon Minor"
    default "4056"


endmenu
